<mat-toolbar color="primary">
  <span style="margin-inline: 10px;">My Store</span>
  <button mat-button routerLink="/products">Products</button>
  <ng-container *ngIf="authUser">
    <button *ngIf="!isAdmin" mat-button routerLink="/orders">Orders</button>
    <button *ngIf="!isAdmin" mat-button routerLink="/wishlist">Wishlist</button>
  </ng-container>

  <span class="spacer"></span>

  <ng-container *ngIf="authUser">
    <button mat-button routerLink="/cart" *ngIf="!isAdmin">Cart</button>
    <button mat-button (click)="logout()"> {{authUser.login}} | Logout</button>
  </ng-container>
  <button mat-button routerLink="/auth/login" *ngIf="!authUser">Login</button>
</mat-toolbar>